__pycache__/
*.pyc
.venv/
.env
data/raw/*
data/interim/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
data/osm/**
!data/osm/
!data/osm/README.md
!data/osm/*/
!data/osm/*/.gitkeep
